/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ma-md{
  margin: 15px !important;
}
.ml-md{
  margin-left: 15px !important;
}

.full-width{
  width: 100%  !important;
}

.flex{
  display: flex;

}

